body {
  background-image: url('/images/marathon.jpg');
}

.slide {
  position: absolute;
  width: 100%;
  left: 100%;
  overflow-y: scroll;
}

.slide-container {
  padding: 25px;
}

#welcome-slide {
  left: 0;
}

.interface-box {
  position: relative;
  background-color: purple;
  min-height: 200px;
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  overflow: hidden;
}

.content-box {
  background-color: white;
  position: absolute;
  top: 85px;
  right: 0;
  bottom: 85px;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.band {
  position: absolute;
  right: 0;
  left: 0;
  height: 8.5rem;
  background-color: purple;
}

.upper {
  top: 0;
}

.lower {
  bottom: 0;
}

.arrow {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}

.left {
  left: 20px;
  display: none;
}

.right {
  right: 20px;
  display: none;
}

.arrow img {
  width: 50px;
}



.header {
  color: white;
}

.header h1 {
  margin: 0;
  padding: 0;
}

.header p {
  margin: 0;
  padding: 0;
}

.bib-text {
  font-family: 'Fjalla One', sans-serif;
  font-size: 12.0rem;
  text-align: center;
}

#welcome-options {
  text-align: center;
  font-size: 2.0rem;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
}

#welcome-options li {
  margin-left: 20px;
  margin-right: 20px;
}

input[type="number"] {
  width: 150px;
}

.map {
  height: 250px;
  width: 250px;
}

/* For people who like really narrow browser windows */

@media (max-width: 600px) {
  .bib-text {
    font-size: 9.0rem;
  }
  #welcome-options {
    font-size: 1.5rem;
  }
  .pace-input li {
    display: block;
  }
}

/* For the bigger iPhones */

@media (max-width: 450px) {
  .bib-text {
    font-size: 6.0rem;
  }
  #welcome-options li {
    display: block;
    font-size: 1.5rem;
  }
}

/* For the little iPhones */

@media (max-width: 350px) {
  .interface-box {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 90vh;
  }
  .interface-box p {
    display: none;
  }
  .content-box {
    top: 50px;
    bottom: 50px;
  }
  .arrow {
    bottom: 5px;
  }
  .arrow img {
    width: 35px;
  }
}
